---
layout: page
title: Publications
permalink: /publications/
wide: true
plain: true
---

{% if site.author.googlescholar %}
<p class="lead">Also on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.</p>
{% endif %}

{% assign pub_sorted = site.data.publications | sort: 'year' | reverse %}
<ol class="pub-list">
  {% for pub in pub_sorted %}
  <li class="pub-item">
    <span class="pub-item__title">{{ pub.title }}</span>
    {% if pub.authors %}<span class="pub-item__authors">{{ pub.authors }}</span>{% endif %}
    {% if pub.venue %}<span class="pub-item__venue"><em>{{ pub.venue }}</em>{% if pub.year %}, {{ pub.year }}{% endif %}</span>{% endif %}
    {% include pub-links.html pub=pub %}
  </li>
  {% endfor %}
</ol>
